In [247]:
import pandas as pd
from glob import glob 
import numpy as np
import pickle
import time
import re

In [51]:
path =r'C:\Users\Aquaregis32\Documents\Github\scheduling-algorithm\Data\RoutesAanavandi'
filenames = glob(path + "\*.csv")
filenames = filenames[1:]

In [52]:
filenames[0:10]

['C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10000.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10001.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10002.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10003.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10004.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10005.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10006.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10007.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10008.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10009.csv']

In [105]:
routes_raw = pd.read_csv('RoutesAanavandi/public.bus_list.csv', header=0, index_col=None, delimiter=";")
routes_raw.head()

,route_name,bus_type,via_route,bus_code,from_location,to_location
0,Kasargod - Kallumvalapp,Ordinary,Deli,2000,Kasargod,Kallumvalapp
1,Kallumvalapp - Kasargod,Ordinary,Deli,2001,Kallumvalapp,Kasargod
2,Thiruvatta- Karunagappally,Ordinary,"Kadapuzha, Sasthamkotta",6000,Thiruvatta,Karunagappally
3,Alappuzha- Chengannur,Ordinary,"Pallipad, Parayankery, Chennithala",6500,Alappuzha,Chengannur
4,Kallumvalapp - Kasargod,Ordinary,Deli,2002,Kallumvalapp,Kasargod

In [309]:
bus_schedules = [pd.read_csv(file, index_col = None, delimiter=";") for file in filenames]

In [228]:
bus_schedules[0:9]

[              bus_stop stop_timing
 0     THODUPUZHA (TDP)    06:50:00
 1  MUTTOM (THODUPUZHA)    07:15:00
 2               KANJAR    07:30:00
 3    MOOLAMATTOM (MLT)    07:45:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    09:25:00
 1  MUTTOM (THODUPUZHA)    09:50:00
 2               KANJAR    10:05:00
 3    MOOLAMATTOM (MLT)    10:20:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    11:55:00
 1  MUTTOM (THODUPUZHA)    12:20:00
 2               KANJAR    12:35:00
 3    MOOLAMATTOM (MLT)    12:50:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    14:05:00
 1  MUTTOM (THODUPUZHA)    14:30:00
 2               KANJAR    14:45:00
 3    MOOLAMATTOM (MLT)    15:00:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    16:00:00
 1  MUTTOM (THODUPUZHA)    16:25:00
 2               KANJAR    16:40:00
 3    MOOLAMATTOM (MLT)    16:55:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    18:30:00
 1  MUTTOM (THODUPUZHA)    18:55:00
 2               KANJAR    19:10:00
 3    MOOLAMATTOM (MLT)    19:25:00,
               bus_stop stop_timing
 0    MOOLAMATTOM (MLT)    08:25:00
 1               KANJAR    08:40:00
 2  MUTTOM (THODUPUZHA)    08:55:00
 3     THODUPUZHA (TDP)    09:20:00,
               bus_stop stop_timing
 0    MOOLAMATTOM (MLT)    10:45:00
 1               KANJAR    11:00:00
 2  MUTTOM (THODUPUZHA)    11:15:00
 3     THODUPUZHA (TDP)    11:40:00,
               bus_stop stop_timing
 0    MOOLAMATTOM (MLT)    13:00:00
 1               KANJAR    13:15:00
 2  MUTTOM (THODUPUZHA)    13:30:00
 3     THODUPUZHA (TDP)    13:55:00]

In [223]:
len(bus_schedules)

40163

In [140]:
routes = routes_raw.loc[:,["route_name","via_route","from_location","to_location"]]
routes.drop_duplicates(inplace=True)
routes.dropna(inplace=True)
routes.reset_index(inplace=True)
nrow_routes = routes.shape[0]
routes

,index,route_name,via_route,from_location,to_location
0,0,Kasargod - Kallumvalapp,Deli,Kasargod,Kallumvalapp
1,1,Kallumvalapp - Kasargod,Deli,Kallumvalapp,Kasargod
2,2,Thiruvatta- Karunagappally,"Kadapuzha, Sasthamkotta",Thiruvatta,Karunagappally
3,3,Alappuzha- Chengannur,"Pallipad, Parayankery, Chennithala",Alappuzha,Chengannur
4,5,Kavalam - Kottayam Medical College,"Kainady, Kottayam",Kavalam,Kottayam Medical College
...,...,...,...,...,...
13498,40153,Kottarakkara - Nedumkandam,"Adoor, Pathanamthitta, Erumely, Mundakayam, Ka...",Kottarakkara,Nedumkandam
13499,40158,Punalur - Pamba,"Konni, Pathanamthitta, Vadasserikara, Laha, Ni...",Punalur,Pamba
13500,40159,Pamba - Pathanamthitta,"Nilakkal, Laha, Perunad, Vadasserikkara",Pamba,Pathanamthitta
13501,40160,Pathanamthitta - Athikkayam,"Vadasserikara, Perunad",Pathanamthitta,Athikkayam
13502,40162,Athikkayam - Pathanamthitta,"Perunad, Vadasserikara",Athikkayam,Pathanamthitta

In [176]:
routes_toFrom = routes_raw.loc[:,["from_location","to_location"]]
routes_toFrom.drop_duplicates(inplace=True)
routes_toFrom.dropna(inplace=True)
routes_toFrom.reset_index(inplace=True,drop=True)
nrow_routes_toFrom = routes_toFrom.shape[0]
routes_toFrom

       from_location               to_location
0           Kasargod              Kallumvalapp
1       Kallumvalapp                  Kasargod
2         Thiruvatta            Karunagappally
3          Alappuzha                Chengannur
4            Kavalam  Kottayam Medical College
...              ...                       ...
9388         Mannady                Guruvayoor
9389    Kottarakkara               Nedumkandam
9390         Punalur                     Pamba
9391           Pamba            Pathanamthitta
9392  Pathanamthitta                Athikkayam

[9393 rows x 2 columns]

In [302]:
pattern = r"([\w]+)[[\w]+]?"
pattern2 = r"(^[\w]+[ \w]*)"

In [ ]:
def create_schd(bus_all,routes,nrow):
    k = 0
    data = []
    for i in range(nrow_routes_toFrom):
        _df = routes.loc[i]
        _df.reset_index(drop=True)
        _to = _df.iloc[0].lower()
        _from = _df.iloc[1].lower()
        for j in bus_all:
            l = len(j['bus_stop'])
            _start = j['bus_stop'][0]
            _stop = j['bus_stop'][l-1]
            if(len(_start)==1 or len(_stop)==1):
                continue
            _start_clean = re.match(pattern2,_start).group(0).lower()
            _stop_clean = re.match(pattern2,_stop).group(0).lower()
            if(re.match(_from,_start_clean).group(0) and re.match(_to,_stop_clean).group(0)):
                tmp = {"id":k,"from":_start,"to":_stop,"schd":j['stop_timing'],"route":j['bus_stop']}
                k+=1
                data.append(tmp)
        print(data)
    return(data)

In [ ]:
t1 = time.perf_counter()
res = create_schd(bus_schedules, routes_toFrom, nrow_routes_toFrom)
t2 = time.perf_counter()
print('Time taken to run function: {}\n'.format(t2-t1))

In [372]:
res_bak = res

In [373]:
res

[{'id': 0,
  'from': 'PATHARAM',
  'to': 'CHAVARA',
  'schd': 0    05:30:00
  1    06:30:00
  Name: stop_timing, dtype: object,
  'route': 0    PATHARAM
  1     CHAVARA
  Name: bus_stop, dtype: object},
 {'id': 1,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    07:20:00
  1    07:45:00
  2    08:05:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 2,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    11:20:00
  1    11:45:00
  2    12:05:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 3,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    13:30:00
  1    13:55:00
  2    14:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 4,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    15:30:00
  1    15:55:00
  2    16:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 5,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    08:15:00
  1    08:40:00
  2    09:00:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 6,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    10:15:00
  1    10:40:00
  2    11:00:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 7,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    12:15:00
  1    12:40:00
  2    13:00:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 8,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    14:30:00
  1    14:55:00
  2    15:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 9,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    16:30:00
  1    16:55:00
  2    17:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 10,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    18:30:00
  1    18:55:00
  2    19:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 11,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    07:35:00
  1    08:00:00
  2    08:20:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 12,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    09:30:00
  1    09:55:00
  2    10:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 13,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    11:30:00
  1    11:55:00
  2    12:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 14,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    13:45:00
  1    14:10:00
  2    14:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 15,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    15:45:00
  1    16:10:00
  2    16:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 16,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    17:45:00
  1    18:10:00
  2    18:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 17,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    19:40:00
  1    20:05:00
  2    20:25:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 18,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    08:30:00
  1    08:55:00
  2    09:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 19,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    10:30:00
  1    10:55:00
  2    11:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 20,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    12:30:00
  1    12:55:00
  2    13:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 21,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    14:45:00
  1    15:10:00
  2    15:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 22,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    16:45:00
  1    17:10:00
  2    17:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 23,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    18:45:00
  1    19:10:00
  2    19:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 24,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    11:40:00
  1    12:05:00
  2    12:25:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 25,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    18:45:00
  1    19:10:00
  2    19:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 26,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    18:50:00
  1    19:15:00
  2    19:35:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 27,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    08:05:00
  1    08:30:00
  2    08:50:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 28,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    10:00:00
  1    10:25:00
  2    10:45:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 29,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    12:00:00
  1    12:25:00
  2    12:45:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 30,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    14:15:00
  1    14:40:00
  2    15:00:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 31,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    07:35:00
  1    08:00:00
  2    08:20:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 32,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    09:30:00
  1    09:55:00
  2    10:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 33,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    11:30:00
  1    11:55:00
  2    12:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 34,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    13:45:00
  1    14:10:00
  2    14:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 35,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    15:45:00
  1    16:10:00
  2    16:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 36,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    17:45:00
  1    18:10:00
  2    18:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 37,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    19:40:00
  1    20:05:00
  2    20:25:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 38,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    08:30:00
  1    08:55:00
  2    09:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 39,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    10:30:00
  1    10:55:00
  2    11:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 40,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    12:30:00
  1    12:55:00
  2    13:15:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 41,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    16:15:00
  1    16:40:00
  2    17:00:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 42,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    18:15:00
  1    18:40:00
  2    19:00:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 43,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    20:10:00
  1    20:35:00
  2    20:55:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 44,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    20:25:00
  1    20:50:00
  2    21:10:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 45,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    14:50:00
  1    15:15:00
  2    15:35:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 46,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    15:45:00
  1    16:10:00
  2    16:30:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 47,
  'from': 'CHAVARA',
  'to': 'OACHIRA',
  'schd': 0    16:00:00
  1    16:25:00
  2    16:45:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 OACHIRA
  Name: bus_stop, dtype: object},
 {'id': 48,
  'from': 'KATTILKADAVU',
  'to': 'CHAVARA',
  'schd': 0    19:00:00
  1    19:10:00
  2    19:35:00
  Name: stop_timing, dtype: object,
  'route': 0    KATTILKADAVU
  1      ALUMKADAVU
  2         CHAVARA
  Name: bus_stop, dtype: object},
 {'id': 49,
  'from': 'CHAVARA',
  'to': 'KATTILKADAVU',
  'schd': 0    11:30:00
  1    11:55:00
  2    12:10:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2            KATTILKADAVU
  Name: bus_stop, dtype: object},
 {'id': 50,
  'from': 'CHAVARA',
  'to': 'PAVUMBA',
  'schd': 0    15:30:00
  1    15:50:00
  2    16:25:00
  Name: stop_timing, dtype: object,
  'route': 0                 CHAVARA
  1    KARUNAGAPPALLY (KNP)
  2                 PAVUMBA
  Name: bus_stop, dtype: object},
 {'id': 51,
  'from': 'PAVUMBA',
  'to': 'CHAVARA',
  'schd': 0    08:10:00
  1    08:45:00
  2    09:10:00
  Name: stop_timing, dtype: object,
  'route': 0                 PAVUMBA
  1    KARUNAGAPPALLY (KNP)
  2                 CHAVARA
  Name: bus_stop, dtype: object},
 {'id': 52,
  'from': 'CHITTOOR DEPOT',
  'to': 'PUDUNAGARAM',
  'schd': 0    05:00:00
  1    05:15:00
  Name: stop_timing, dtype: object,
  'route': 0    CHITTOOR DEPOT
  1       PUDUNAGARAM
  Name: bus_stop, dtype: object},
 {'id': 53,
  'from': 'CHITTOOR DEPOT',
  'to': 'PUDUNAGARAM',
  'schd': 0    05:00:00
  1    05:10:00
  Name: stop_timing, dtype: object,
  'route': 0    CHITTOOR DEPOT
  1       PUDUNAGARAM
  Name: bus_stop, dtype: object},
 {'id': 54,
  'from': 'KASARGOD RAILWAY STATION',
  'to': 'KASARGOD RAILWAY STATION',
  'schd': 0    09:10:00
  1    09:30:00
  2    09:45:00
  Name: stop_timing, dtype: object,
  'route': 0    KASARGOD RAILWAY STATION
  1      KASARGOD CIVIL STATION
  2    KASARGOD RAILWAY STATION
  Name: bus_stop, dtype: object},
 {'id': 55,
  'from': 'KAMBALLUR',
  'to': 'CHERUPUZHA',
  'schd': 0    16:30:00
  1    16:55:00
  Name: stop_timing, dtype: object,
  'route': 0     KAMBALLUR
  1    CHERUPUZHA
  Name: bus_stop, dtype: object},
 {'id': 56,
  'from': 'KALLARA',
  'to': 'VAMANAPURAM',
  'schd': 0    17:40:00
  1    18:00:00
  2    18:05:00
  Name: stop_timing, dtype: object,
  'route': 0        KALLARA
  1        KARETTU
  2    VAMANAPURAM
  Name: bus_stop, dtype: object},
 {'id': 57,
  'from': 'VAMANAPURAM',
  'to': 'KALLARA',
  'schd': 0    08:05:00
  1    08:10:00
  2    08:30:00
  Name: stop_timing, dtype: object,
  'route': 0    VAMANAPURAM
  1        KARETTU
  2        KALLARA
  Name: bus_stop, dtype: object},
 {'id': 58,
  'from': 'VAMANAPURAM',
  'to': 'KALLARA',
  'schd': 0    18:15:00
  1    18:20:00
  2    18:40:00
  Name: stop_timing, dtype: object,
  'route': 0    VAMANAPURAM
  1        KARETTU
  2        KALLARA
  Name: bus_stop, dtype: object},
 {'id': 59,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    07:45:00
  1    07:50:00
  2    08:10:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 60,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    09:30:00
  1    09:35:00
  2    09:55:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 61,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    10:35:00
  1    10:40:00
  2    11:00:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 62,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    11:35:00
  1    11:40:00
  2    12:00:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 63,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    12:35:00
  1    12:40:00
  2    13:00:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 64,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    14:00:00
  1    14:05:00
  2    14:25:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 65,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    15:15:00
  1    15:20:00
  2    15:40:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 66,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    16:35:00
  1    16:40:00
  2    17:00:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 67,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    17:40:00
  1    17:45:00
  2    18:05:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 68,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    18:45:00
  1    18:50:00
  2    19:10:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 69,
  'from': 'ERNAKULAM JETTY',
  'to': 'PANAMBUKADU',
  'schd': 0    19:45:00
  1    19:50:00
  2    20:10:00
  Name: stop_timing, dtype: object,
  'route': 0    ERNAKULAM JETTY
  1         HIGH COURT
  2        PANAMBUKADU
  Name: bus_stop, dtype: object},
 {'id': 70,
  'from': 'PANAMBUKADU',
  'to': 'ERNAKULAM JETTY',
  'schd': 0    07:15:00
  1    07:35:00
  2    07:40:00
  Name: stop_timing, dtype: object,
  'route': 0        PANAMBUKADU
  1         HIGH COURT
  2    ERNAKULAM JETTY
  Name: bus_stop, dtype: object},
 {'id': 71,
  'from': 'PANAMBUKADU',
  'to': 'ERNAKULAM JETTY',
  'schd': 0    08:35:00
  1    08:55:00
  2    09:00:00
  Name: stop_timing, dtype: object,
  'route': 0        PANAMBUKADU
  1         HIGH COURT
  2    ERNAKULAM JETTY
  Name: bus_stop, dtype: object},
 {'id': 72,
  'from': 'PANAMBUKADU',
  'to': 'ERNAKULAM JETTY',
  'schd': 0    10:00:00
  1    10:20:00
  2    10:25:00
  Name: stop_timing, dtype: object,
  'route': 0        PANAMBUKADU
  1         HIGH COURT
  2    ERNAKULAM JETTY
  Name: bus_stop, dtype: object},
 {'id': 73,
  'from': 'PANAMBUKADU',
  'to': 'ERNAKULAM JETTY',
  'schd': 0    11:05:00
  1    11:25:00
  2    11:30:00
  Name: stop_timing, dtype: object,
  'route': 0        PANAMBUKADU
  1         HIGH COURT
  2    ERNAKULAM JETTY
  Name: bus_stop, dtype: object},
 {'id': 74,
  'from': 'PANAMBUKADU',
  'to': 'ERNAKULAM JETTY',
  'schd': 0    12:05:00
  1    12:25:00
  2    12:30:00
  Name: stop_timing, dtype: object,
  'route': 0        PANAMBUKADU
  1         HIGH COURT
  2    ERNAKULAM JETTY

In [241]:
with open('data.pkl', 'wb') as f:
    pickle.dump(res, f)

In [242]:
res[0:9]

[]