In [1]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

In [2]:
import re
import pandas as pd

In [3]:
# Use a service account
cred = credentials.Certificate('key/oduFireKey.json')
firebase_admin.initialize_app(cred)

db = firestore.client()

In [4]:
bookings_ref = db.collection(u'Bookings')
routes_ref = db.collection(u'Bus Routes')
stops_ref = db.collection(u'Bus Stops')

bookings_firebaseGenerator = bookings_ref.stream()
routes_firebaseGenerator = routes_ref.stream()
stops_firebaseGenerator = stops_ref.stream()

In [5]:
bookings = [doc.to_dict() for doc in bookings_firebaseGenerator]
routes = [doc.to_dict() for doc in routes_firebaseGenerator]
stops = [doc.to_dict() for doc in stops_firebaseGenerator]

In [6]:
routes[0]

{'Route': 'Bypass - Vennala - Vyttila',
 'Route_id': '100',
 'Start': 'Bypass',
 'End': 'Vyttila'}

In [7]:
bookings[0]

{'Bus Type': 'Fast Passenger',
 'Timing': '2 - 6',
 'Booking ID': '288295',
 'Phone Number': '9867260140',
 'Fare': 31,
 'To': 'KOTTAYAM BS (KTM)',
 'From': 'PALA (PLA)',
 'Booking Time': DatetimeWithNanoseconds(2020, 4, 10, 13, 10, 31, 119000, tzinfo=<UTC>),
 'UID': 'qn6n9nzNHrQlC6kcIcSVx5lubSq1'}

In [8]:
stops[0]['Stop Name']

'ILANJIYAM'

In [9]:
routes_df = pd.DataFrame(routes)
bookings_df = pd.DataFrame(bookings)
stops_df = pd.DataFrame(stops)
# routes_df.iloc[:,[4]]
routes_df

,Route,Route_id,Start,End
0,Bypass - Vennala - Vyttila,100,Bypass,Vyttila
1,Medical Trust - South - Menaka - Highcourt,101,Medical Trust,Highcourt
2,Palarivattom - Lulu - Aluva,102,Palarivattom,Aluva
3,Palarivattom - Thammanam - Vyttila,103,Palarivattom,Vyttila
4,Palarivattom - Kaloor - South - Vyttila,104,Palarivattom,Vyttila
5,Pala - Bharananganam - Erattupeta,105,Pala,Erattupeta
6,Pathanamthitta - Mekozhoor - Vayalathala- Keek...,106,Pathanamthitta,Ranni
7,Kottayam - Ettumanoor - Pala - Neeloor - Araku...,107,Kottayam,Idukki
8,hodupuzha - Erattupeta - Muttom - Kanjirappalli,108,Thodupuzha,Kanjirappalli
9,Aluva - Angamaly - Chalakudy - Konikkara - Th...,109,Aluva,Thrissur

In [10]:
bookings_df

,Bus Type,Timing,Booking ID,Phone Number,Fare,To,From,Booking Time,UID
0,Fast Passenger,2 - 6,288295,9867260140,31,KOTTAYAM BS (KTM),PALA (PLA),2020-04-10 13:10:31.119000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1
1,Super Dulex,6 - 10,326739,9867260140,32,KOCHI,PALA (PLA),2021-05-05 16:50:39.084000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1
2,Fast Passenger,6 - 10,372644,9867260140,42,ADOOR BS (ADR),CHANGANASSERY BS (CHR),2020-03-31 18:50:35.332000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1
3,Fast Passenger,6 - 10,402167,9867260140,43,BHARANANGANAM,CHANGANASSERY BS (CHR),2020-03-31 18:51:06.661000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1
4,Ordinary,6 - 11,452259,7012835996,227,GOKULAM MEDICAL COLLEGE,ALIPARAMBA,2020-03-31 18:36:58.500000+00:00,ImlCyAL9YZRevMbeymRzaG3lqpU2
5,Fast Passenger,6 - 10,486446,9867260140,56,KOCHI,PALA (PLA),2020-08-30 16:52:41.577000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1
6,Ordinary,6 - 10,508326,7012835996,49,PALA (PLA),KOCHI,2021-05-24 07:56:54.614000+00:00,ImlCyAL9YZRevMbeymRzaG3lqpU2
7,Super Fast,10 - 2,709793,9867260140,36,KOTTAYAM BS (KTM),PALA (PLA),2020-04-02 19:12:58.713000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1
8,Super Express,6 - 10,917497,7012835996,72,KOCHI,PALA (PLA),2021-05-27 16:32:22.870000+00:00,ImlCyAL9YZRevMbeymRzaG3lqpU2
9,Fast Passenger,2 - 6,971774,9867260140,30,PALA (PLA),KOTTAYAM BS (KTM),2020-04-07 19:31:22.444000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1

In [11]:
stops_df.loc[:10,["Stop Name"]]

                  Stop Name
0                 ILANJIYAM
1              ELAVUMTHITTA
2              THOOKKUPALAM
3   KANJIKKUZHY (ALAPPUZHA)
4                NADUVANNUR
5                  THENKARA
6                  PALAYODE
7                   LAKKIDI
8            MAKKARAPARAMBA
9      AANAPPARA (ANGAMALY)
10                SIVAPURAM

In [12]:
pattern = r"([\w]+)[ [\w]+]?"

In [13]:
bool(re.match("ILANJ",stops[0]["Stop Name"]))

True

In [15]:
stops_df["Stop Name(cleaned)"] = stops_df["Stop Name"].str.extract(pattern)
stops_df["Stop Name(cleaned)"]

0          ILANJIYA
1       ELAVUMTHITT
2       THOOKKUPALA
3       KANJIKKUZHY
4         NADUVANNU
           ...
2273     KOTTAPURAM
2274        THENKAS
2275        ELAMKAD
2276    PALLIKATHOD
2277      VALANCHER
Name: Stop Name(cleaned), Length: 2278, dtype: object

In [16]:
bookings_df["To (cleaned)"] = bookings_df["To"].str.extract(pattern)
bookings_df["From (cleaned)"] = bookings_df["From"].str.extract(pattern)
bookings_df

,Bus Type,Timing,Booking ID,Phone Number,Fare,To,From,Booking Time,UID,To (cleaned),From (cleaned)
0,Fast Passenger,2 - 6,288295,9867260140,31,KOTTAYAM BS (KTM),PALA (PLA),2020-04-10 13:10:31.119000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1,KOTTAYAM,PALA
1,Super Dulex,6 - 10,326739,9867260140,32,KOCHI,PALA (PLA),2021-05-05 16:50:39.084000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1,KOCH,PALA
2,Fast Passenger,6 - 10,372644,9867260140,42,ADOOR BS (ADR),CHANGANASSERY BS (CHR),2020-03-31 18:50:35.332000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1,ADOOR,CHANGANASSERY
3,Fast Passenger,6 - 10,402167,9867260140,43,BHARANANGANAM,CHANGANASSERY BS (CHR),2020-03-31 18:51:06.661000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1,BHARANANGANA,CHANGANASSERY
4,Ordinary,6 - 11,452259,7012835996,227,GOKULAM MEDICAL COLLEGE,ALIPARAMBA,2020-03-31 18:36:58.500000+00:00,ImlCyAL9YZRevMbeymRzaG3lqpU2,GOKULAM,ALIPARAMB
5,Fast Passenger,6 - 10,486446,9867260140,56,KOCHI,PALA (PLA),2020-08-30 16:52:41.577000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1,KOCH,PALA
6,Ordinary,6 - 10,508326,7012835996,49,PALA (PLA),KOCHI,2021-05-24 07:56:54.614000+00:00,ImlCyAL9YZRevMbeymRzaG3lqpU2,PALA,KOCH
7,Super Fast,10 - 2,709793,9867260140,36,KOTTAYAM BS (KTM),PALA (PLA),2020-04-02 19:12:58.713000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1,KOTTAYAM,PALA
8,Super Express,6 - 10,917497,7012835996,72,KOCHI,PALA (PLA),2021-05-27 16:32:22.870000+00:00,ImlCyAL9YZRevMbeymRzaG3lqpU2,KOCH,PALA
9,Fast Passenger,2 - 6,971774,9867260140,30,PALA (PLA),KOTTAYAM BS (KTM),2020-04-07 19:31:22.444000+00:00,qn6n9nzNHrQlC6kcIcSVx5lubSq1,PALA,KOTTAYAM

In [49]:
stops_df[stops_df["Stop Name(cleaned)"].str.match("VYTILLA")]

,Stop Name,Case Search,Stop Name(cleaned)
1977,VYTILLA HUB (VMH),"[V, VY, VYT, VYTI, VYTIL, VYTILL, VYTILLA, VYT...",VYTILLA

In [46]:
def check(row):
#     re.match(str(row),routes_df['Start'])
    print(row)

In [47]:
bookings_df["To (cleaned)"].apply(check)

KOTTAYAM
KOCH
ADOOR
BHARANANGANA
GOKULAM
KOCH
PALA
KOTTAYAM
KOCH
PALA

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: To (cleaned), dtype: object

In [64]:
routes_auto = stops_df[["Stop Name"]].merge(stops_df[["Stop Name"]], how="cross")
routes_auto = routes_auto[routes_auto["Stop Name_x"]!=routes_auto["Stop Name_y"]]
routes_auto.rename(columns = {"Stop Name_x":"Start","Stop Name_y":"Stop"},inplace=True)
routes_auto

              Start                     Stop
1         ILANJIYAM             ELAVUMTHITTA
2         ILANJIYAM             THOOKKUPALAM
3         ILANJIYAM  KANJIKKUZHY (ALAPPUZHA)
4         ILANJIYAM               NADUVANNUR
5         ILANJIYAM                 THENKARA
...             ...                      ...
5189278  VALANCHERY             MUKUNDAPURAM
5189279  VALANCHERY   KOTTAPURAM (VIZHINJAM)
5189280  VALANCHERY                 THENKASI
5189281  VALANCHERY                 ELAMKADU
5189282  VALANCHERY             PALLIKATHODU

[5187000 rows x 2 columns]

In [70]:
routes_auto['Route ID'] = routes_auto.index
routes_auto

              Start                     Stop  Route ID
1         ILANJIYAM             ELAVUMTHITTA         1
2         ILANJIYAM             THOOKKUPALAM         2
3         ILANJIYAM  KANJIKKUZHY (ALAPPUZHA)         3
4         ILANJIYAM               NADUVANNUR         4
5         ILANJIYAM                 THENKARA         5
...             ...                      ...       ...
5189278  VALANCHERY             MUKUNDAPURAM   5189278
5189279  VALANCHERY   KOTTAPURAM (VIZHINJAM)   5189279
5189280  VALANCHERY                 THENKASI   5189280
5189281  VALANCHERY                 ELAMKADU   5189281
5189282  VALANCHERY             PALLIKATHODU   5189282

[5187000 rows x 3 columns]