In [1]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

In [2]:
import re
import pandas as pd

In [3]:
# Use a service account
cred = credentials.Certificate('key/oduFireKey.json')
firebase_admin.initialize_app(cred)

db = firestore.client()

In [4]:
bookings_ref = db.collection(u'Bookings')
routes_ref = db.collection(u'Bus Routes')
stops_ref = db.collection(u'Bus Stops')

bookings_firebaseGenerator = bookings_ref.stream()
routes_firebaseGenerator = routes_ref.stream()
stops_firebaseGenerator = stops_ref.stream()

In [5]:
bookings = [doc.to_dict() for doc in bookings_firebaseGenerator]
routes = [doc.to_dict() for doc in routes_firebaseGenerator]
stops = [doc.to_dict() for doc in stops_firebaseGenerator]

In [6]:
routes[0]

{'Start': 'Bypass',
 'End': 'Vyttila',
 'Route': 'Bypass - Vennala - Vyttila',
 'Route_id': '100'}

In [7]:
bookings[0]

{'UID': 'qn6n9nzNHrQlC6kcIcSVx5lubSq1',
 'Booking ID': '288295',
 'To': 'KOTTAYAM BS (KTM)',
 'Phone Number': '9867260140',
 'Fare': 31,
 'Timing': '2 - 6',
 'Booking Time': DatetimeWithNanoseconds(2020, 4, 10, 13, 10, 31, 119000, tzinfo=<UTC>),
 'From': 'PALA (PLA)',
 'Bus Type': 'Fast Passenger'}

In [24]:
len([s['Stop Name'] for s in stops])

2278

In [8]:
stops[0]['Stop Name']

'ILANJIYAM'

In [9]:
routes_df = pd.DataFrame(routes)
bookings_df = pd.DataFrame(bookings)
stops_df = pd.DataFrame(stops)
# routes_df.iloc[:,[4]]
routes_df

,Start,End,Route,Route_id
0,Bypass,Vyttila,Bypass - Vennala - Vyttila,100
1,Medical Trust,Highcourt,Medical Trust - South - Menaka - Highcourt,101
2,Palarivattom,Aluva,Palarivattom - Lulu - Aluva,102
3,Palarivattom,Vyttila,Palarivattom - Thammanam - Vyttila,103
4,Palarivattom,Vyttila,Palarivattom - Kaloor - South - Vyttila,104
5,Pala,Erattupeta,Pala - Bharananganam - Erattupeta,105
6,Pathanamthitta,Ranni,Pathanamthitta - Mekozhoor - Vayalathala- Keek...,106
7,Kottayam,Idukki,Kottayam - Ettumanoor - Pala - Neeloor - Araku...,107
8,Thodupuzha,Kanjirappalli,hodupuzha - Erattupeta - Muttom - Kanjirappalli,108
9,Aluva,Thrissur,Aluva - Angamaly - Chalakudy - Konikkara - Th...,109

In [10]:
bookings_df

,UID,Booking ID,To,Phone Number,Fare,Timing,Booking Time,From,Bus Type
0,qn6n9nzNHrQlC6kcIcSVx5lubSq1,288295,KOTTAYAM BS (KTM),9867260140,31,2 - 6,2020-04-10 13:10:31.119000+00:00,PALA (PLA),Fast Passenger
1,qn6n9nzNHrQlC6kcIcSVx5lubSq1,326739,KOCHI,9867260140,32,6 - 10,2021-05-05 16:50:39.084000+00:00,PALA (PLA),Super Dulex
2,qn6n9nzNHrQlC6kcIcSVx5lubSq1,372644,ADOOR BS (ADR),9867260140,42,6 - 10,2020-03-31 18:50:35.332000+00:00,CHANGANASSERY BS (CHR),Fast Passenger
3,qn6n9nzNHrQlC6kcIcSVx5lubSq1,402167,BHARANANGANAM,9867260140,43,6 - 10,2020-03-31 18:51:06.661000+00:00,CHANGANASSERY BS (CHR),Fast Passenger
4,ImlCyAL9YZRevMbeymRzaG3lqpU2,452259,GOKULAM MEDICAL COLLEGE,7012835996,227,6 - 11,2020-03-31 18:36:58.500000+00:00,ALIPARAMBA,Ordinary
5,qn6n9nzNHrQlC6kcIcSVx5lubSq1,486446,KOCHI,9867260140,56,6 - 10,2020-08-30 16:52:41.577000+00:00,PALA (PLA),Fast Passenger
6,ImlCyAL9YZRevMbeymRzaG3lqpU2,508326,PALA (PLA),7012835996,49,6 - 10,2021-05-24 07:56:54.614000+00:00,KOCHI,Ordinary
7,qn6n9nzNHrQlC6kcIcSVx5lubSq1,709793,KOTTAYAM BS (KTM),9867260140,36,10 - 2,2020-04-02 19:12:58.713000+00:00,PALA (PLA),Super Fast
8,ImlCyAL9YZRevMbeymRzaG3lqpU2,917497,KOCHI,7012835996,72,6 - 10,2021-05-27 16:32:22.870000+00:00,PALA (PLA),Super Express
9,qn6n9nzNHrQlC6kcIcSVx5lubSq1,971774,PALA (PLA),9867260140,30,2 - 6,2020-04-07 19:31:22.444000+00:00,KOTTAYAM BS (KTM),Fast Passenger

In [11]:
stops_df.loc[:10,["Stop Name"]]

                  Stop Name
0                 ILANJIYAM
1              ELAVUMTHITTA
2              THOOKKUPALAM
3   KANJIKKUZHY (ALAPPUZHA)
4                NADUVANNUR
5                  THENKARA
6                  PALAYODE
7                   LAKKIDI
8            MAKKARAPARAMBA
9      AANAPPARA (ANGAMALY)
10                SIVAPURAM

In [12]:
pattern = r"([\w]+)[ [\w]+]?"

In [26]:
bool(re.match("ERNAK",stops[0]["Stop Name"]))

False

In [14]:
stops_df["Stop Name(cleaned)"] = stops_df["Stop Name"].str.extract(pattern)
stops_df["Stop Name(cleaned)"]

0          ILANJIYA
1       ELAVUMTHITT
2       THOOKKUPALA
3       KANJIKKUZHY
4         NADUVANNU
           ...
2273     KOTTAPURAM
2274        THENKAS
2275        ELAMKAD
2276    PALLIKATHOD
2277      VALANCHER
Name: Stop Name(cleaned), Length: 2278, dtype: object

In [15]:
bookings_df["To (cleaned)"] = bookings_df["To"].str.extract(pattern)
bookings_df["From (cleaned)"] = bookings_df["From"].str.extract(pattern)
bookings_df

,UID,Booking ID,To,Phone Number,Fare,Timing,Booking Time,From,Bus Type,To (cleaned),From (cleaned)
0,qn6n9nzNHrQlC6kcIcSVx5lubSq1,288295,KOTTAYAM BS (KTM),9867260140,31,2 - 6,2020-04-10 13:10:31.119000+00:00,PALA (PLA),Fast Passenger,KOTTAYAM,PALA
1,qn6n9nzNHrQlC6kcIcSVx5lubSq1,326739,KOCHI,9867260140,32,6 - 10,2021-05-05 16:50:39.084000+00:00,PALA (PLA),Super Dulex,KOCH,PALA
2,qn6n9nzNHrQlC6kcIcSVx5lubSq1,372644,ADOOR BS (ADR),9867260140,42,6 - 10,2020-03-31 18:50:35.332000+00:00,CHANGANASSERY BS (CHR),Fast Passenger,ADOOR,CHANGANASSERY
3,qn6n9nzNHrQlC6kcIcSVx5lubSq1,402167,BHARANANGANAM,9867260140,43,6 - 10,2020-03-31 18:51:06.661000+00:00,CHANGANASSERY BS (CHR),Fast Passenger,BHARANANGANA,CHANGANASSERY
4,ImlCyAL9YZRevMbeymRzaG3lqpU2,452259,GOKULAM MEDICAL COLLEGE,7012835996,227,6 - 11,2020-03-31 18:36:58.500000+00:00,ALIPARAMBA,Ordinary,GOKULAM,ALIPARAMB
5,qn6n9nzNHrQlC6kcIcSVx5lubSq1,486446,KOCHI,9867260140,56,6 - 10,2020-08-30 16:52:41.577000+00:00,PALA (PLA),Fast Passenger,KOCH,PALA
6,ImlCyAL9YZRevMbeymRzaG3lqpU2,508326,PALA (PLA),7012835996,49,6 - 10,2021-05-24 07:56:54.614000+00:00,KOCHI,Ordinary,PALA,KOCH
7,qn6n9nzNHrQlC6kcIcSVx5lubSq1,709793,KOTTAYAM BS (KTM),9867260140,36,10 - 2,2020-04-02 19:12:58.713000+00:00,PALA (PLA),Super Fast,KOTTAYAM,PALA
8,ImlCyAL9YZRevMbeymRzaG3lqpU2,917497,KOCHI,7012835996,72,6 - 10,2021-05-27 16:32:22.870000+00:00,PALA (PLA),Super Express,KOCH,PALA
9,qn6n9nzNHrQlC6kcIcSVx5lubSq1,971774,PALA (PLA),9867260140,30,2 - 6,2020-04-07 19:31:22.444000+00:00,KOTTAYAM BS (KTM),Fast Passenger,PALA,KOTTAYAM

In [16]:
stops_df[stops_df["Stop Name(cleaned)"].str.match("VYTILLA")]

,Case Search,Stop Name,Stop Name(cleaned)
1977,"[V, VY, VYT, VYTI, VYTIL, VYTILL, VYTILLA, VYT...",VYTILLA HUB (VMH),VYTILLA

In [17]:
def check(row):
#     re.match(str(row),routes_df['Start'])
    print(row)

In [18]:
bookings_df["To (cleaned)"].apply(check)

KOTTAYAM
KOCH
ADOOR
BHARANANGANA
GOKULAM
KOCH
PALA
KOTTAYAM
KOCH
PALA

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: To (cleaned), dtype: object

In [19]:
routes_auto = stops_df[["Stop Name"]].merge(stops_df[["Stop Name"]], how="cross")
routes_auto = routes_auto[routes_auto["Stop Name_x"]!=routes_auto["Stop Name_y"]]
routes_auto.rename(columns = {"Stop Name_x":"Start","Stop Name_y":"Stop"},inplace=True)
routes_auto

              Start                     Stop
1         ILANJIYAM             ELAVUMTHITTA
2         ILANJIYAM             THOOKKUPALAM
3         ILANJIYAM  KANJIKKUZHY (ALAPPUZHA)
4         ILANJIYAM               NADUVANNUR
5         ILANJIYAM                 THENKARA
...             ...                      ...
5189278  VALANCHERY             MUKUNDAPURAM
5189279  VALANCHERY   KOTTAPURAM (VIZHINJAM)
5189280  VALANCHERY                 THENKASI
5189281  VALANCHERY                 ELAMKADU
5189282  VALANCHERY             PALLIKATHODU

[5187000 rows x 2 columns]

In [20]:
routes_auto['Route ID'] = routes_auto.index
routes_auto

              Start                     Stop  Route ID
1         ILANJIYAM             ELAVUMTHITTA         1
2         ILANJIYAM             THOOKKUPALAM         2
3         ILANJIYAM  KANJIKKUZHY (ALAPPUZHA)         3
4         ILANJIYAM               NADUVANNUR         4
5         ILANJIYAM                 THENKARA         5
...             ...                      ...       ...
5189278  VALANCHERY             MUKUNDAPURAM   5189278
5189279  VALANCHERY   KOTTAPURAM (VIZHINJAM)   5189279
5189280  VALANCHERY                 THENKASI   5189280
5189281  VALANCHERY                 ELAMKADU   5189281
5189282  VALANCHERY             PALLIKATHODU   5189282

[5187000 rows x 3 columns]