In [2]:
import pandas as pd
from glob import glob 
import numpy as np

In [51]:
path =r'C:\Users\Aquaregis32\Documents\Github\scheduling-algorithm\Data\RoutesAanavandi'
filenames = glob(path + "\*.csv")
filenames = filenames[1:]

In [52]:
filenames[0:10]

['C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10000.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10001.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10002.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10003.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10004.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10005.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10006.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10007.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10008.csv',
 'C:\\Users\\Aquaregis32\\Documents\\Github\\scheduling-algorithm\\Data\\RoutesAanavandi\\public.route_10009.csv']

In [105]:
routes_raw = pd.read_csv('RoutesAanavandi/public.bus_list.csv', header=0, index_col=None, delimiter=";")
routes_raw.head()

,route_name,bus_type,via_route,bus_code,from_location,to_location
0,Kasargod - Kallumvalapp,Ordinary,Deli,2000,Kasargod,Kallumvalapp
1,Kallumvalapp - Kasargod,Ordinary,Deli,2001,Kallumvalapp,Kasargod
2,Thiruvatta- Karunagappally,Ordinary,"Kadapuzha, Sasthamkotta",6000,Thiruvatta,Karunagappally
3,Alappuzha- Chengannur,Ordinary,"Pallipad, Parayankery, Chennithala",6500,Alappuzha,Chengannur
4,Kallumvalapp - Kasargod,Ordinary,Deli,2002,Kallumvalapp,Kasargod

In [172]:
bus_schedules = [pd.read_csv(file, index_col = None, delimiter=";") for file in filenames]

In [228]:
bus_schedules[0:9]

[              bus_stop stop_timing
 0     THODUPUZHA (TDP)    06:50:00
 1  MUTTOM (THODUPUZHA)    07:15:00
 2               KANJAR    07:30:00
 3    MOOLAMATTOM (MLT)    07:45:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    09:25:00
 1  MUTTOM (THODUPUZHA)    09:50:00
 2               KANJAR    10:05:00
 3    MOOLAMATTOM (MLT)    10:20:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    11:55:00
 1  MUTTOM (THODUPUZHA)    12:20:00
 2               KANJAR    12:35:00
 3    MOOLAMATTOM (MLT)    12:50:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    14:05:00
 1  MUTTOM (THODUPUZHA)    14:30:00
 2               KANJAR    14:45:00
 3    MOOLAMATTOM (MLT)    15:00:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    16:00:00
 1  MUTTOM (THODUPUZHA)    16:25:00
 2               KANJAR    16:40:00
 3    MOOLAMATTOM (MLT)    16:55:00,
               bus_stop stop_timing
 0     THODUPUZHA (TDP)    18:30:00
 1  MUTTOM (THODUPUZHA)    18:55:00
 2               KANJAR    19:10:00
 3    MOOLAMATTOM (MLT)    19:25:00,
               bus_stop stop_timing
 0    MOOLAMATTOM (MLT)    08:25:00
 1               KANJAR    08:40:00
 2  MUTTOM (THODUPUZHA)    08:55:00
 3     THODUPUZHA (TDP)    09:20:00,
               bus_stop stop_timing
 0    MOOLAMATTOM (MLT)    10:45:00
 1               KANJAR    11:00:00
 2  MUTTOM (THODUPUZHA)    11:15:00
 3     THODUPUZHA (TDP)    11:40:00,
               bus_stop stop_timing
 0    MOOLAMATTOM (MLT)    13:00:00
 1               KANJAR    13:15:00
 2  MUTTOM (THODUPUZHA)    13:30:00
 3     THODUPUZHA (TDP)    13:55:00]

In [223]:
len(bus_schedules)

40163

In [140]:
routes = routes_raw.loc[:,["route_name","via_route","from_location","to_location"]]
routes.drop_duplicates(inplace=True)
routes.dropna(inplace=True)
routes.reset_index(inplace=True)
nrow_routes = routes.shape[0]
routes

,index,route_name,via_route,from_location,to_location
0,0,Kasargod - Kallumvalapp,Deli,Kasargod,Kallumvalapp
1,1,Kallumvalapp - Kasargod,Deli,Kallumvalapp,Kasargod
2,2,Thiruvatta- Karunagappally,"Kadapuzha, Sasthamkotta",Thiruvatta,Karunagappally
3,3,Alappuzha- Chengannur,"Pallipad, Parayankery, Chennithala",Alappuzha,Chengannur
4,5,Kavalam - Kottayam Medical College,"Kainady, Kottayam",Kavalam,Kottayam Medical College
...,...,...,...,...,...
13498,40153,Kottarakkara - Nedumkandam,"Adoor, Pathanamthitta, Erumely, Mundakayam, Ka...",Kottarakkara,Nedumkandam
13499,40158,Punalur - Pamba,"Konni, Pathanamthitta, Vadasserikara, Laha, Ni...",Punalur,Pamba
13500,40159,Pamba - Pathanamthitta,"Nilakkal, Laha, Perunad, Vadasserikkara",Pamba,Pathanamthitta
13501,40160,Pathanamthitta - Athikkayam,"Vadasserikara, Perunad",Pathanamthitta,Athikkayam
13502,40162,Athikkayam - Pathanamthitta,"Perunad, Vadasserikara",Athikkayam,Pathanamthitta

In [176]:
routes_toFrom = routes_raw.loc[:,["from_location","to_location"]]
routes_toFrom.drop_duplicates(inplace=True)
routes_toFrom.dropna(inplace=True)
routes_toFrom.reset_index(inplace=True,drop=True)
nrow_routes_toFrom = routes_toFrom.shape[0]
routes_toFrom

       from_location               to_location
0           Kasargod              Kallumvalapp
1       Kallumvalapp                  Kasargod
2         Thiruvatta            Karunagappally
3          Alappuzha                Chengannur
4            Kavalam  Kottayam Medical College
...              ...                       ...
9388         Mannady                Guruvayoor
9389    Kottarakkara               Nedumkandam
9390         Punalur                     Pamba
9391           Pamba            Pathanamthitta
9392  Pathanamthitta                Athikkayam

[9393 rows x 2 columns]

In [232]:
def create_schd(bus_all,routes,nrow):
    k = 0
    data = []
    for i in range(nrow_routes_toFrom):
        _df = routes.loc[i]
        _df.reset_index(drop=True)
        _to = _df.iloc[0]
        _from = _df.iloc[1]
        for j in bus_all:
            if(j['bus_stop'][0]==_from and j['bus_stop'][4]==_to):
                tmp = {"to":_to,"from":_from,"schd":j}
                data[i].append(tmp)
                print("true")
    return(data)
#             print([bus['bus_stop'][0]==_to for bus in bus_all])

In [ ]:
res = create_schd(bus_schedules, routes_toFrom, nrow_routes_toFrom)